<!-- dummyapp/app/templates/index.html -->
<html>
<head>
<title>{{ Title }}</title>
</head>
<body>
<h1>DUBLIN BIKES</h1>
<div id="stuff">
</div>
<div id="TestDynamic">
    
</div>
<div id="map" style="width:100%;height:700px;">
<script>
   //document.getElementById("TestDynamic").innerHTML = {{ Stations.42.position }};
    
    function initMap() {
        var dublin = {lat: 53.346880, lng: -6.265615,};
        var map = new  google.maps.Map(document.getElementById('map'), {
          zoom: 14.1,
          center: dublin
        });
            
        {% for Station in Stations %}
        
        var location = {lat: {{ Station.position.lat }}, lng: {{ Station.position.lng }},};
        var stationName = ' {{ Station.name }} ';
        var availablebikes = '{{ Station.available_bikes }}';
        var availablebikestands = '{{ Station.available_bike_stands}}';
        var address = '{{ Station.address }}';
        var infoString = 
            '<h4>' + address + '</h4>'+
            '<p> No. of Available Bikes : ' + availablebikes + '<p>' + 
            '<p> No. of Available Stands : ' + availablebikestands + '<p>' 
            ;
        var marker = new google.maps.Marker({
          position: location,
          draggable: false,
          animation: google.maps.Animation.DROP,
          map: map,
          contentString: infoString,    
          title: stationName
          });
         var infowindow = new google.maps.InfoWindow({});
         marker.addListener('click', function() {
           infowindow.setContent(this.contentString);
           infowindow.open(map, this);
     });
    
    
        {% endfor %}  
        // some parts adapted from: https://stackoverflow.com/questions/30012913/google-map-api-v3-add-multiple-infowindows   
    };
                           
    </script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRUrdJ4Tz9rLrHrOkwJWpA9QSYNJbWQ0Q&callback=initMap">
</script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', {role: 'style'}],
          ['2004',  1000, 'silver'],
          ['2005',  1170, 'red'],
          ['2006',  660, 'green'],
          ['2007',  1030, 'blue']
        ]);

        var options = {
          title: 'Company Performance',
          
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart'));

        chart.draw(data, options);
      }
    </script>
    </div>
    <div id = "chart"></div>
</body>
</html>