<!-- dummyapp/app/templates/index.html -->




<html>
<head>
<title>{{ Title }}</title>
</head>
<body>
<h1>DUBLIN BIKES</h1>
<div id="map" style="width:100%;height:400px;">

<script>
   //document.getElementById("TestDynamic").innerHTML = {{ Stations.42.position }};
    
    function initMap() {
        var dublin = {lat: 53.346880, lng: -6.265615,};
        var map = new  google.maps.Map(document.getElementById('map'), {
          zoom: 14.1,
          center: dublin
        });
            
        {% for Station in Stations %}
        
        var location = {lat: {{ Station.position.lat }}, lng: {{ Station.position.lng }},};
        var stationName = ' {{ Station.name }} ';
        var availablebikes = '{{ Station.available_bikes }}';
        var availablebikestands = '{{ Station.available_bike_stands}}';
        var address = '{{ Station.address }}';
        var infoString = 
            '<h4>' + address + '</h4>'+
            '<p> No. of Available Bikes : ' + availablebikes + '</p>' + 
            '<p> No. of Available Stands : ' + availablebikestands + '</p>' +
            '<p onclick="insertAddInfo( {{ Station.number}} )">More Information</p>'
            ;
        var marker = new google.maps.Marker({
          position: location,
          draggable: false,
          animation: google.maps.Animation.DROP,
          map: map,
          contentString: infoString,    
          title: stationName
          });
         var infowindow = new google.maps.InfoWindow({});
         marker.addListener('click', function() {
           infowindow.setContent(this.contentString);
           infowindow.open(map, this);
     });
    
    
        {% endfor %}  
        // some parts adapted from: https://stackoverflow.com/questions/30012913/google-map-api-v3-add-multiple-infowindows   
    };
    
    function insertAddInfo(currentStation){
        document.getElementById('infoTitle').innerHTML = '<h2> Information for:' + currentStation + '</h2>';
        //document.getElementById('additionalInfo').style.display = 'block';
        createChart(currentStation);
    }    
    function createChart(currentStation){
        var xmlhttp = new XMLHttpRequest();
        var url = "/available/" + currentStation;
        
        google.charts.setOnLoadCallback(drawWeeklyChart);
        google.charts.load('current', {packages: ['corechart']});
        console.log(url);
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var data = xmlhttp.response;
                drawWeeklyChart(data);
                }
            };
        xmlhttp.open("GET",url, true);
        xmlhttp.send();
        }  
    </script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRUrdJ4Tz9rLrHrOkwJWpA9QSYNJbWQ0Q&callback=initMap">
</script>
     </div>
    <div id = 'infoTitle'></div>
    
        <select id="myDropdown"></select>
    <script>
        var stations = [];
        var listItem = '';
        {% for Station in Stations %}
        var stationAddress = '{{ Station.address}}';
        stations.push(stationAddress);
            {% endfor %}
        stations.sort();
        for(i=0; i < stations.length; i++){
            listItem += '<option>' + stations[i] + '</option>';
        }
        document.getElementById('myDropdown').innerHTML = listItem;
        </script>
  <div id = "chart"></div>
    <div id = "hourlyChart"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      

      function drawWeeklyChart(data) {
          document.getElementById('infoTitle').innerHTML = data;
        /*var data = google.visualization.arrayToDataTable([
          ['Day', 'Number of Bikes Available'],
          ['Monday', data[0][0]],
          ['Tuesday',  data[1][0]],
          ['Wednesday',   data[2][0]],
          ['Thursday',  data[3][0]],
          ['Friday',  data[4][0]],
          ['Saturday',  data[5][0]],
          ['Sunday',  data[6][0]]
        ]);

        var options = {
          title: 'Daily Avg. Bike Availability',
          vAxis: {minValue: 0},
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart'));

        chart.draw(data, options);*/
      }
    </script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart']});
      google.charts.setOnLoadCallback(drawDailyChart);

      function drawDailyChart() {
        var data = google.visualization.arrayToDataTable([
             ['Time', 'Number of Bikes Available'],
             ['12am', {{ HourlyData[0][0] }}],
             ['1am', {{ HourlyData[1][0] }}],
             ['2am', {{ HourlyData[2][0] }}],
             ['3am', {{ HourlyData[3][0] }}],
             ['4am', {{ HourlyData[4][0] }}],
             ['5am', {{ HourlyData[5][0] }}],
             ['6am', {{ HourlyData[6][0] }}],
             ['7am', {{ HourlyData[7][0] }}],
             ['8am', {{ HourlyData[8][0] }}],
             ['9am', {{ HourlyData[9][0] }}],
             ['10am', {{ HourlyData[10][0] }}],
             ['11am', {{ HourlyData[11][0] }}],
             ['12pm', {{ HourlyData[12][0] }}],
             ['1pm', {{ HourlyData[13][0] }}],
             ['2pm', {{ HourlyData[14][0] }}],
             ['3pm', {{ HourlyData[15][0] }}],
             ['4pm', {{ HourlyData[16][0] }}],
             ['5pm', {{ HourlyData[17][0] }}],
             ['6pm', {{ HourlyData[18][0] }}],
             ['7pm', {{ HourlyData[19][0] }}],
             ['8pm', {{ HourlyData[20][0] }}],
             ['9pm', {{ HourlyData[21][0] }}],
             ['10pm', {{ HourlyData[22][0] }}],
             ['11pm', {{ HourlyData[23][0] }}]
        ]);

        var options = {
          title: 'Hourly Avg. Bike Availability',
          vAxis: {minValue: 0, 
                 gridlines: {count:7}},
          height:300,
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('hourlyChart'));

        chart.draw(data, options);
      }
    </script>
</body>
</html>