h1 {
    color: black;
    text-align: center;
}

body{
    background-color: gainsboro;
    font-family: 'Open Sans';
    margin: 0px;
    padding: 0px;
}

#map{
    width: 100%;
    height: 500px;
    margin: 0px;
    padding: 0px;
}
#legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
      #legend h3 {
        margin-top: 0;
}
#legend img {
        vertical-align: middle;
}
/*
.get_weather{
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
}
*/

#dds{
    float: left;
    width: 100%;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
    text-align: center;   
}

#chart{
    width: 30%;
    height: 300px;
    display: inline-block;
    margin: 10px;
    border: solid 2px;
}

.centredetail {
    text-align: center;
}

#hourlyChart{
    width: 30%;
    height: 300px;
    display: inline-block;
    margin: 10px;
    border: solid 2px;
}

#dropdownHolder{
    width: 30%;
    height: 300px;
    display: inline-block;
    margin: 10px;
    border: solid 2px;
    overflow: auto;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../bikeGIF.gif') 50% 50% no-repeat rgb(249,249,249);
}

#footer {
    text-align: right;
    padding: 5px;
    border-top: solid;
}

#footer a {
    color: darkgreen;
}

#footer a:hover {
    background-color: white;
}

.minorinfo {
    width: 25%;
    height: 205px;
    display: inline-block;
    margin: 20px;
    overflow: auto;
}

#stationInfoBox {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}

.twitter-timeline {
    overflow-y: hidden;
}

/* Adapted from https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Adapted from https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover */
.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

/* Adapted from https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover */
.button5:hover {
    background-color: #555555;
    color: white;
}

#chartdiv, #curtain {
    width: 30%;
    height: 300px;
    position: absolute;
}

#curtain {
    background: url('../BikeBreaking.gif') 50% 50% no-repeat;
    overflow: auto;
}

#curtain span {
  display: block;
  position: absolute;
  top: 49%;
  width: 100%;
  text-align: center;
}